repos:
- repo: local
  hooks:
    # Run the linter.
    - id: ruff
      name: ruff
      entry: ruff check --fix
      language: system
      types: [python]
      require_serial: true
    # Run the formatter.
    - id: ruff-format
      name: ruff-format
      entry: ruff format
      language: system
      types: [python]
      require_serial: true
